@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
       
        <p ng-controller="HomeController">
           
            {{messege}}
        </p>
       
    </div>
</div>