@using NasgledSys.Models;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .thumbnail {
        padding: 0;
        height: auto;
    }
</style>
<script>
    var baseList = [];
    var filteredList = [];
    $(document).ready(function () {

        $('#ViewBy').hide();

        $(".notice").click(function () {
            if ($('#ViewBy').is(":visible")) {
                $('#ViewBy').hide();
            } else {
                $('#ViewBy').show();
            }

        });
        GetProjectListData();
        GetAllCompanyName();
    });
    function search() {
        filteredList = [];
        var searchText = $("#searchText").val().toLowerCase();
        if (searchText == "") {
            filteredList = baseList;
            remakeGrid();
        }
        else {
            baseList.forEach(function (item) {
                if (item.ProjectName.toLowerCase().includes(searchText)) {
                    filteredList.push(item);
                }
            });
            remakeGrid();
        }
    }
    function GetAllCompanyName() {
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/MgtClientCompany/GetClientCompanyListData/",
            //data: JSON.stringify({ clientCompanyKey: '#' }),
            success: function (data) {
                baseList = data;
                filteredList = data;
                remakeGridCompany();
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Error on ajax call");
            }
        });
    }
    function remakeGridCompany() {
        var res = "";
        res = res + "<div class='col-md-2'><a  href='/Home/Userhome'>All</a></div>";



        for (var i = 0; i < filteredList.length; i++) {
            res = res + "<div class='col-md-3'>"


                + "<a href='/Home/ProjectByCompany?id=" + filteredList[i].ClientCompanyKey + "' >" + filteredList[i].CompanyName + "</a>"

                + "</div >";
        }
        res = res + "<div class='col-md-2'><label>Select Company</label></div>";
        $("#comp").html(res);
    }
    function remakeGrid() {
        var res = "";
        $("#elementContainer").html("");

        for (var i = 0; i < filteredList.length; i++) {
            res = res + "<div class='col-xs-18 col-sm-6 col-md-3'>"
                + "<div class='thumbnail' >"
                + "<div class='caption'>"
                + "<h4>" + filteredList[i].ProjectName + "</h4>"
                + "<p>" + filteredList[i].CompanyName + "</p><br/>" + filteredList[i].AdminName + "<br/>" + filteredList[i].AreaNum + " areas <br/>"
                + filteredList[i].ExsistingProduct + " Existing Products <br/>"
                + "<a href='/MgtClientCompany/ViewClientCompany?clientCompanyKey=" + filteredList[i].ClientCompanyKey + "' class='btn btn-default btn-xs' role='button'>View</a>"
                +"<a href='/MgtClientCompany/EditClientCompany?clientCompanyKey=" + filteredList[i].ClientCompanyKey + "' class='btn btn-primary btn-xs' role='button'>Edit</a>"
                + "</div>"
                + "</div >"
                + "</div >";
        }
        $("#elementContainer").html(res);
    }
    function GetProjectListData() {
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/Home/GetProjectListDataByCompany/",
            //data: JSON.stringify({ clientCompanyKey: '#' }),
            success: function (data) {
                baseList = data;
                filteredList = data;
                remakeGrid();
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Error on ajax call");
            }
        });
    }
</script>
@section CenterTitle{
    My Projects of @Html.DisplayFor(m=>GlobalClass.CCompany.CompanyName)
}

<div class="panel panel-flat">

    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <input id="searchText" type="text" class="form-control" placeholder="Search for Project Here" onkeyup="search()" />
            </div>
            <div class="col-md-3">
                <a class="notice" href="#"><i class="icon icon-sort"></i> View By</a>
            </div>

            <div class="col-md-3">
                <a href="/MgtProject/SelectCompany"><i class="icon-add"></i> Add New</a>
            </div>

        </div>
    </div>
    <div class="row" id="ViewBy">
        <div class="panel-heading">

            <div class="col-md-3">
                <a class="btn btn-primary" href="/Home/ProjectByCompany"><i class="add-on"></i> View as Card</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary" href="/MgtProject/CIndex"><i class="add-on"></i>View as List</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="panel panel-flat">
    <div class="panel-heading">
        <div class="row" id="comp">


        </div>
    </div>
    <div class="container" id="elementContainer">


    </div><!--/container -->

</div>