
@{
    ViewBag.Title = "Userhome";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Userhome</h2>


@section CenterTitle{
    Dashboard
    }
<div>
    <a href="@Url.Action("Index","MgtProfile")"><i class="icon-switch2"></i> User Registration</a>
</div>