
@{
    ViewBag.Title = "ClientCompanyList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .thumbnail {
        padding: 0;
        height: auto;
    }
</style>

@section CenterTitle{
   Catelogue
}
@section SideBar{
    <center>
        <h4>
            <i class="icon-arrow-small-right position-left"></i>
            <span class="text-semibold">List of Profile Product</span>
        </h4>
    </center>
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li class="active"><a href="#tab-demo1" data-toggle="tab">Catelogue</a></li>
                <li>
                    <a href="@Url.Action("QPL", "MgtProfileProduct")">QPL's</a>
                </li>
                <li><a href="@Url.Action("LightingFacts", "MgtProfileProduct")" data-toggle="tab">Lighting Facts &reg;</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab-demo1">

        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">List of Profile Product</h5>
                <h2>@TempData["mess"]</h2>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-primary" href="/MgtProfileProduct/Create">Add New Profile Product</a>
                    </div>
                    <div class="col-md-3">

                        <div class="has-feedback has-feedback-left">
                            <input id="searchText" type="text" class="form-control" placeholder="Search with name" onkeyup="search()" />
                            <div class="form-control-feedback">
                                <i class="icon-search4 text-size-base text-muted"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />
            <br />
            <div class="container" id="elementContainer">


            </div><!--/container -->

        </div>
    </div>
</div>



<script>
    var baseList = [];
    var filteredList = [];
    $(document).ready(function () {
        GetClientCompanyListData();
    });
    function search() {
        filteredList = [];
        var searchText = $("#searchText").val().toLowerCase();
        if (searchText == "") {
            filteredList = baseList;
            remakeGrid();
        }
        else {
            baseList.forEach(function (item) {
                if (item.Category.toLowerCase().includes(searchText) ||
                    item.Subcategory.toLowerCase().includes(searchText) ||
                    item.Type.toLowerCase().includes(searchText) ||
                    item.Manufacturer.toLowerCase().includes(searchText) ||
                    item.Catelogue.toLowerCase().includes(searchText)) {
                    filteredList.push(item);
                }
            });
            remakeGrid();
        }
    }
    function remakeGrid() {
        var res = "";
        $("#elementContainer").html("");

        for (var i = 0; i < filteredList.length; i++) {

            res = res + "<div class='col-sm-6 col-md-3'>"
                   + "<div class='panel panel-body panel-body-accent'>"
                    + "<div class='media no-margin'>"
                    + "<div class='media-body text-left'>"
                     + "<img src='/ShowImage/GetProfileProductPic?id=" + filteredList[i].FixtureKey + "' class='img-responsive img-rounded' width='100px' height='80px' alt=''>"
                     + "</div>"
                      + "<div class='media-body text-right'>"
                       + " <h3 class='no-margin text-semibold'>" + filteredList[i].ProductName + "</h3>"
                       + " <span class='text-uppercase text-size-mini'>Model #" + filteredList[i].ModelNo + "</span><br />"

                         + " <span class='text-uppercase text-size-mini'>Type " + filteredList[i].Type + "</span><br />"
                           + " <span class='text-uppercase text-size-mini'>Category " + filteredList[i].Category + "</span><br />"
                             + " <span class='text-uppercase text-size-mini'>Manufacturer" + filteredList[i].Manufacturer + "</span><br />"


                       + "  <span class='text-uppercase text-size-mini text-muted'>" + filteredList[i].Watt + "Watt Per Luminaire</span><br />"
                        + "  <span class='text-uppercase text-size-mini text-muted'>" + filteredList[i].LampLife + " Hrs     Lamp Life</span><br />"
                        + "  <span class='text-uppercase text-size-mini text-muted'>" + filteredList[i].LightOutput + " Light Output</span><br />"

                          + "</div>"
                          + "  <div class='media-bottom'>"
                           + "  <span class='text-uppercase text-size-mini text-muted'><a href='/MgtProfileProduct/View?id=" + filteredList[i].FixtureKey + "' class='btn btn-default btn-xs' role='button'>View</a></span>"
                         + "  <span class='text-uppercase text-size-mini text-muted'><a href='/MgtProfileProduct/Edit?id=" + filteredList[i].FixtureKey + "' class='btn btn-primary btn-xs' role='button'>Edit</a></span>"
                         + "  <span class='text-uppercase text-size-mini text-muted'><a href='/MgtProfileProduct/Delete?id=" + filteredList[i].FixtureKey + "' class='btn btn-danger btn-xs' role='button' onclick = \"return confirm('Are you sure you want to Remove this?')\">Delete</a></span>"
                          + "</div>"
                       + "</div>"
                 + "</div>"
              + "</div>";
        }
        $("#elementContainer").html(res);
    }
    function GetClientCompanyListData() {
        $.ajax({
            traditional: true,
            type: "post",
            dataType: "json",
            contentType: "application/json",
            url: "/MgtProfileProduct/GetProfileProductList/",
            //data: JSON.stringify({ clientCompanyKey: '#' }),
            success: function (data) {
                baseList = data;
                filteredList = data;
                remakeGrid();
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log("Error on ajax call");
            }
        });
    }
</script>
